@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Business Page</h1>
    <p>This is your Business!</p>

</div>

<div class="">
    <div class="row d-flex justify-content-center align-items-center" style="width: 350px; margin: 0 auto; padding: 5px">
        <div class="col d-flex justify-content-end">
            <img src="https://i.pinimg.com/736x/50/75/5e/50755e3c703491ccf96bbe04dee20d66.jpg" alt="Img Here" class="rounded-circle" style="width: 75px; height: 75px;">
        </div>
        <div class="col">
            <button class="btn btn-primary" type="button">Change Photo</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center" style="width: 350px; margin: 0 auto; padding: 5px">
        <label> Business Name </label>
        <input class="form-control" placeholder="Enter Business Name">
    </div>
    <div class="row d-flex justify-content-center" style="width: 350px; margin: 0 auto; padding: 5px">
        <label> Business Address </label>
        <input class="form-control" placeholder="Enter Business Address">
    </div>
    <div class="row d-flex justify-content-center" style="width: 175px; margin: 0 auto; padding: 10px">
        <button class="btn btn-primary" type="button">Save Changes</button>
    </div>
</div>
