@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MobiMart</h1>
    <p>Your business management companion app!</p>
    <a>&nbsp</a>
</div>


<div class="row">
    <div class="col">
        <div class="col">
            <img src="https://cdn.extendoffice.com/images/stories/excel-charts/forecast-chart/doc-forecast-chart-1.png" alt="Img Here" class="img-thumbnail" style="width: 675px; height: 400px;">
        </div>
    </div>
    <div class="col">
        <div class="card border-dark">
            <div class="card-body m-2" style="width: 675px; height: 400px; text-align: justify">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis enim in libero imperdiet pellentesque nec nec dolor.
                    Praesent congue interdum enim in fringilla. In lacus arcu, tincidunt eu arcu a, bibendum fringilla nulla. Vivamus sed iaculis
                    nunc. Maecenas eget fermentum libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam in ligula eget orci 
                    interdum consequat. Donec lobortis egestas semper.  
                </p>
                <p>
                    Suspendisse et lacus dapibus, cursus urna et, tincidunt dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam sollicitudin porttitor vestibulum. Nulla posuere nisl augue, sit amet pulvinar mauris congue sit amet. Maecenas sed
                    vestibulum turpis. Maecenas pretium nisi magna, id aliquam diam dapibus vel. Curabitur ultrices augue non sem varius porttitor.
                    Quisque congue sapien dui, at consequat dolor iaculis nec. Vivamus lacinia, mi ut convallis pharetra, justo purus euismod elit,
                    quis consequat nibh est in neque. Ut id massa sed elit aliquam mollis a non libero. Duis hendrerit lorem sit amet vehicula tempus.
                    Sed non libero eu elit fringilla ullamcorper.
                </p>
            </div>
        </div>
    </div>
</div>
