@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1 class="display-4">User Page</h1>
    <p>Welcome to your profile!</p>

</div>

<div class="">
    <div class="row d-flex justify-content-center align-items-center" style="width: 350px; margin: 0 auto; padding: 5px">
        <div class="col d-flex justify-content-end">
            <img src="https://pbs.twimg.com/media/DGBHsVRUIAEhQ4e.jpg" alt="Img Here" class="rounded-circle" style="width: 75px; height: 75px;">
        </div>
        <div class="col">
            <button class="btn btn-primary" type="button">Change Photo</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center" style="width: 350px; margin: 0 auto; padding: 5px">
        <label> Full Name </label>
        <input class="form-control" placeholder="Enter Full Name">
    </div>
    <div class="row d-flex justify-content-center" style="width: 350px; margin: 0 auto; padding: 5px">
        <label> Email </label>
        <input class="form-control" placeholder="Enter Email">
    </div>
    <div class="row d-flex justify-content-center" style="width: 350px; margin: 0 auto; padding: 5px">
        <label> Password </label>
        <input class="form-control" placeholder="Enter Password">
    </div>
    <div class="row d-flex justify-content-center" style="width: 350px; margin: 0 auto; padding: 5px">
        <label> Age </label>
        <input class="form-control" placeholder="Enter Age">
    </div>
    <div class="row d-flex justify-content-center" style="width: 350px; margin: 0 auto; padding: 5px">
        <label> Birthday </label>
        <input class="form-control" placeholder="Enter Birthday">
    </div>
    <div class="row d-flex justify-content-center" style="width: 175px; margin: 0 auto; padding: 10px">
        <button class="btn btn-primary" type="button">Save Changes</button>
    </div>
</div>
